* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: url("fish.gif"),url("fish.cur"), default;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin: 10;
  font-size: 4rem;
}

button {
  background-color: #f10000b7;
  color: black;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 3rem;
}

p {
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}